// Override Stylus variables in Vuetify Theme
$body-font-family = "Open Sans" , sans-serif

@import '~vuetify/src/stylus/main'
@import '~vuetify/src/stylus/app'
@import '../../../stylus/colors.styl'

.container
  padding: 0px
